@charset "utf-8";
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lato:wght@400;700&display=swap';

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    background: #D3CBBC;
    color: #141F24;
    position: relative;
}

h1 {
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    text-shadow: #000 0px 0px 20px;
}

h2 {
    font-size: 4rem;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 3rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 100px 30px 0 30px;
    margin: auto;
}

.sect-title {
    display: flex;
    align-items: center;
}

.sect-title:before,
.sect-title:after {
    content: "";
    height: 1px;
    flex-grow: 1;
    background-color: #141F24;
}

.sect-title:before {
    margin-right: 1rem;
}

.sect-title:after {
    margin-left: 1rem;
}

/* 写真 */
.sect-mv {
    width: 100%;
    height: 80vh;
    position: relative;
}

.sect-mv img {
    height: 100%;
    object-fit: cover;
    filter: brightness(75%);
}

.sect-mv__company {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

/* 戻るボタン */
.back-btn {
    width: 50px;
    height: 50px;
    background-color: #141F24;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 10;
    box-shadow: #1e292e 3px 3px 6px;
}

.back-btn a {
    color: #cecece;
    font-size: 2rem;
}

/* メッセージ */
.sect-message__flex {
    margin: 50px auto 0;
    max-width: 1000px;
}

.sect-message__img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sect-message__img img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

.sect-message__flex h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

/* 募集要項 */
.sect-requirements__flex {
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

dt {
    width: 20%;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
    margin-top: 10px;
}

dd {
    width: 80%;
    padding-left: 15px;
    margin-top: 10px;
}

/* 会社概要 */
.sect-company__flex {
    margin: 50px auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 45%;
}

/* 応募フォーム */
.sect-form__flex {
    margin: 50px auto 0;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
}

.sect-form__form {
    height: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

/* footer */
#footer {
    background: #141F24;
    color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

/* レスポンシブ */
@media screen and (max-width: 959px) {
    h1 {
        font-size: 5.5vw;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem
    }

    dt {
        width: 30%;
    }

    dd {
        width: 70%;
    }

    .sect-requirements__flex {
        width: 70vw;
    }

    .sect-company__flex {
        width: 70vw;
    }

    .sect-form__form {
        height: 1000px;
        margin-bottom: 30px;
    }

    .back-btn {
        bottom: 30px;
        left: 30px;
    }
}

@media screen and (max-width: 519px) {
    .container {
        padding: 100px 15px 0 15px;
    }

    .sect-requirements__flex {
        width: 80vw;
    }

    .sect-company__flex {
        width: 80vw;
    }

    .sect-form__form {
        height: 800px;
    }

    .back-btn {
        width: 35px;
        height: 35px;
    }
}