@charset "utf-8";
@import 'https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Lato:wght@400;700&display=swap';

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    background: #D3CBBC;
    color: #141F24;
    position: relative;
    margin-right: 100px;
}

h1 {
    font-size: 4.5rem;
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

h3 {
    font-size: 4rem;
    font-weight: 600;
    color: #fff;
    text-shadow: #000 0px 0px 20px;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 30px 0 30px;
    margin: 100px auto 0;
}

.sect-title {
    border: 1.5px solid #141F24;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

/* header */
.header__logo-box {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 1000;
}

.header__logo-link {
    display: flex;
}

.header__logo-icon {
    width: 70px;
}

.header__logo-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
    margin-left: 13px;
}

.header__logo-text-a {
    font-size: 1.6rem;
    line-height: 1;
}

.header__logo-text-b {
    line-height: 1;
}

.header__nav-box {
    background: #141F24;
    color: #cecece;
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__gnav-list {
    writing-mode: vertical-rl;
    display: flex;
    margin: 0 auto;
}

.header__gnav-item {
    margin-bottom: 20px;
    transition: .1s;
}

.header__gnav-item:hover {
    transform: scale(1.15);
}

.header__gnav-item:last-of-type {
    margin-bottom: 0;
}

.header__snav-list {
    margin: 0 auto;
    align-items: center;
}

.header__snav-text {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 10px;
    text-align: center;
}

.header__snav-icon {
    margin: 0 auto;
    width: 45px;
    margin-bottom: 20px;
    transition: .2s;
}

.header__snav-icon:hover {
    transform: scale(1.2,1.2);
}

.header__snav-icon:last-of-type {
    margin-bottom: 0;
}

/* メニューボタン */
.header__drawer-btn {
    display: none;
}

/* メインビジュアル */
.sect-mv {
    width: 100%;
    height: 100vh;
}

.sect-mv img {
    height: 100%;
    object-fit: cover;
    object-position: bottom;
}

/* CONCEPT */
.sect-concept__flex {
    margin: 30px 0 0 70px;
    position: relative;
}

.sect-concept__flex-text {
    z-index: 10;
}

.sect-concept__flex-text h3 {
    position: absolute;
    top: 30%;
}

.sect-concept__flex-text p {
    position: absolute;
    max-width: 500px;
    bottom: 0;
    background-color: rgba(238,238,238,.8);
    padding: 15px;
}

.sect-concept__flex-img {
    width: 100%;
    text-align: right;
}

.sect-concept__flex-img img {
    width: 70%;
    box-shadow: 3px 3px 15px #141F24;
}

/* MENU */
.sect-menu__box {
    margin: 30px 70px 0 70px;
    padding: 15px;
    border: 1.5px solid #141F24;
    background: rgba(238,238,238);
}

.sect-menu__box-line {
    padding: 30px;
    border: 1.5px solid #141F24;
}

.sect-menu__box-item {
    padding: 20px 20px 30px 20px;
    border-top: 1px solid #141F24;
}

.sect-menu__box-item:last-of-type {
    padding-bottom: 20px;
    border-bottom: 1px solid #141F24;
}

.sect-menu__title {
    font-size: 2rem;
    padding-bottom: 10px;
}

.sect-menu__price {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sect-menu__price::after {
    margin: 0 10px;
    content: '';
    border-top: 1px dotted;
    flex: 1 1 auto;
    order: 1;
}

.sect-menu__price-price {
    order: 2;
}

/* STAFF */
.sect-staff {
    background: #141F24;
    margin-top: 100px;
}

.sect-staff__inner {
    padding: 30px 0 30px 30px;
}

.sect-staff__inner .sect-title {
    color: #cecece;
    border: 1.5px solid #cecece;
}

.sect-staff__box {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.sect-staff__item {
    width: 31%;
    height: auto;
    position: relative;
    color: #cecece;
}

.sect-staff__item img {
    width: 89%;
}

.sect-staff__name-ja {
    font-size: 2rem;
    position: absolute;
    bottom: -34px;
    left: 0;
}

.sect-staff__name-en {
    position: absolute;
    top: 0;
    right: 0;
    writing-mode: vertical-rl;
    padding-top: 5px;
    font-size: 3rem;
    line-height: 1;
}

.sect-staff__job {
    position: absolute;
    bottom: -34px;
    right: 11%;
}

/* RECRUIT */
.sect-recruit__flex {
    margin: 30px 0 0 70px;
    position: relative;
}

.sect-recruit__flex img {
    width: 70%;
    box-shadow: 3px 3px 15px #141F24;
}

.sect-recruit__flex-text {
    z-index: 10;
}

.sect-recruit__flex-text h3 {
    position: absolute;
    top: 30%;
    right: 0;
}

.sect-recruit__flex-text p {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 500px;
    background-color: rgba(238,238,238,.8);
    padding: 15px;
}

.sect-recruit__button a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 70px;
    background: #141F24;
    color: #cecece;
    margin: 50px auto 0;
    border: solid 1px #cecece;
}

.sect-recruit__button a:hover {
    background: #D3CBBC;
    color: #141F24;
    border: solid 1px #141F24;

}

/* ACCESS */
.sect-access__inner {
    background-image: url("../img/木目.jpg");
    background-size: cover;
    background-position: 0% 50%;
    color: #cecece;
    margin-top: 100px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.sect-access .sect-title {
    border-color: #cecece;
}

.sect-access__flex {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0 50px;
}

.sect-access__info {
    width: 45%;
    display: flex;
    flex-wrap: wrap;
}

.sect-access__info dt {
    width: 25%;
}

.sect-access__info-dt {
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
}

.sect-access__info dd {
    width: 75%;
}

.sect-access__info-dd {
    padding-left: 15px;
}

.sect-access__info-logo {
    width: 100%;
}

.sect-access__info-logoimg {
    width: 60px;
}

.sect-access__info-logotext {
    font-size: 4.5rem;
    line-height: 1;
    font-family: 'Playfair Display', serif;
}

.sect-access__map {
    width: 55%;
}

/* footer */
#footer {
    background: #141F24;
    color: #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}